h1 {
	color: #ffffff;
	font-family: monospace, inconsolata
}


body {
	background-image: url("background2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.group {
	color: #ffffff;
}
