h1 {
	text-align: center;
	}

body {
	background-image: url("bg2.avif");
	background-size: cover;
	background-color: #121212
	background-repeat: no-repeat;
}

.welcome {
	display: inline-block;
	position: absolute;
	color: white;
	font-family: "Inconsolata", monospace;
	font-size: 45px;
	top: 5%;
	left: 15%;
	height: 150px;
	
	animation: fadeSlideIn 1s ease-out forwards;
}

/*animation for welcome text*/
@keyframes fadeSlideIn {
	from {opacity: 0; transform: translateY(-100px);}
	to {opacity: 1; transform: translateY(0);}
}

/*animation for all other text*/
@keyframes fadeSlideInOtherWay {
	from {opacity: 0; transform: translateY(80px);}
	to {opacity: 1; transform: translateY(0);}
}


.group {
	position: absolute;
	top: 30%;
	left: 15%;
	line-height: 90%;

.menu details {
	display: inline-block;
	font-size: 40px;

	animation: fadeSlideInOtherWay 1s ease-out forwards;
}

.version p {
	font-size: 20px;
}

.version {
	opacity: 0;
	display: block;
	font-size: 30px;
	font-family: "Lucida Console", monospace;
	color: #ffffff;
	margin-top: 40px;
	animation: fadeSlideInOtherWay 1s ease-out forwards;
	animation-delay: var(--delay, 0s);
}

.status {
	opacity :0;
	display: block;
	font-size: 30px;
	font-family: "Lucida Console", monospace;
	color: #ffffff;
	margin-top: 40px;
	animation: fadeSlideInOtherWay 1s ease-out forwards;
	animation-delay: var(--delay, 0s);
}


.continue-btn {
	opacity: 0;
	display: inline-block;
	font-size: 30px;
	font-family: "Lucida Console", monospace;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 25px;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	animation: fadeSlideInOtherWay 1.2s ease-out forwards;
	animation-delay: var(--delay, 0s);
}

.continue-btn-wrapper:hover {
	background-color: rgb(18, 18, 36);
	transform: translateX(10px);
}

.continue-btn:active {
	color: midnightblue;
}

.continue-btn-wrapper {
	margin-top: 40px;
	transition: transform 0.5s, background-color 0.3s ease;
	border-radius: 25px;
	width:245px;

}










